VITE_API_BASE_URL=https://innoverse-api.innovitegra.in
VITE_AUTH_BASIC_USERNAME=webadmin
VITE_ENABLE_NON_LOGIN_APIS=false
VITE_AUTH_BASIC_PASSWORD=
VITE_DEFAULT_LOGIN_USERNAME=ServiceProvider1
VITE_DEFAULT_LOGIN_PASSWORD=
